In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Trabajo\Desktop\CursoDASH-PLOLTY\Datasets\2.3\Info_pais.csv',encoding = 'ISO-8859-1',delimiter=';')

print(df.head())

            País   Poblacion  Renta per capita Esperanza de vida
0  United States   325084756             59939              78,9
1          China  1421021791              8612              76,7
2          Japan   127502725             38214              84,5
3        Germany    82658409             44680              81,2
4          India  1338676785              1980              69,4

In [6]:
df_150 = df[df['Poblacion']>150000000]
df_150 = df[['País','Poblacion']]
df_150.head()

            País   Poblacion
0  United States   325084756
1          China  1421021791
2          Japan   127502725
3        Germany    82658409
4          India  1338676785